.services-section{
text-align: left;
padding: 50px 0;
}

.services-section-title{
    color: #30304e;
}
.services-section-subtitle{
    color: #6f6f8a;
    font-size: 30px;
    
}
.services-section-disc{
    color: #6f6f8a;

}
